body {
    text-align: center;
}
#welcome {
background: linear-gradient(blue, yellow);
}
#bio {
    background: linear-gradient(lightpink,red);
}
.profile{
    border-radius: 50%;
}
.menu{
    list-style: none;
    position: absolute;
    top: 10px;
    right: 10;
    z-index:10;
    cursor: pointer;
}
.links{
    float: left;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px;
}
#name{
    font-size: 50px;
    font-family: 'Cinzel Decorative' ,cursive;
}
h1{
    font-family: 'Cinzel Decorative' ,cursive;
    padding: 50px;
}